<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JejuSympathy</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
<!-- 스프링 진입점 설정 : DispathcerServelt -->
<!-- The front controller of this Spring Web application, responsible for handling all application requests -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
			/WEB-INF/springConfig/common-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map all requests to the DispatcherServlet for handling -->
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!-- 한글인코딩 --> 
  	<filter>
    	<filter-name>characterEncoding</filter-name>
     	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    	<init-param>
        	<param-name>encoding</param-name>
        	<param-value>UTF-8</param-value>
     	</init-param>
  	</filter>
  	  
  	<filter-mapping>
    	<filter-name>characterEncoding</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- 에러페이지 처리부분 -->
    <error-page>
    	<exception-type>java.lang.Throwable</exception-type>
    	<location>/throwable.do</location>
    </error-page>
    
    <error-page>
    	<exception-type>java.lang.Exception</exception-type>
    	<location>/exception.do</location>
    </error-page>
    
    <error-page>
    	<error-code>404</error-code>
    	<location>/404.do</location>
    </error-page>
    
    <error-page>
    	<error-code>403</error-code>
    	<location>/403.do</location>
    </error-page>
    
    <error-page>
    	<error-code>500</error-code>
    	<location>/500.do</location>
    </error-page>
    
    <error-page>
    	<error-code>503</error-code>
    	<location>/503.do</location>
    </error-page>
    
    <error-page>
    	<error-code>400</error-code>
    	<location>/400.do</location>
    </error-page>
    
    <error-page>
    	<error-code>405</error-code>
    	<location>/405.do</location>
    </error-page>
  
  
  
  
  
</web-app>